@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #CCC;
    text-decoration: none !important;
}

a:hover {
    color: #F99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}

img {
    width: 100%;
    overflow: hidden;
}

html,
body {
    background: #1f2122;
    font-family: 'Poppins', sans-serif;
}

body .page-content {
    margin-top: 110px;
    background-color: #27292a;
    padding: 60px;
    border-radius: 23px;
}

p {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    margin-bottom: 0px;
}

::selection {
    background: #e75e8d;
    color: #fff;
}

::-moz-selection {
    background: #e75e8d;
    color: #fff;
}

.templatemo-item {
    max-width: 80px;
    border-radius: 23px;
}

.main-button a {
    font-size: 14px;
    color: #fff;
    background-color: #e75e8d;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-button a:hover {
    background-color: #fff;
    color: #e75e8d;
}

.main-border-button a, .main-info a {
    font-size: 14px;
    color: #ec6090;
    background-color: transparent;
    border: 1px solid #ec6090;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-border-button a:hover, .main-info a:hover  {
    border-color: #fff;
    background-color: #fff;
    color: #e75e8d;
}

.border-no-active a {
    border-color: #666;
    color: #666;
}

.border-no-active a:hover {
    border-color: #666;
    color: #666;
    background-color: transparent;
}

section {
    margin-top: 120px;
}

.heading-section h4 {
    color: #ec6090;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}

.heading-section h4 em {
    color: #fff;
    font-style: normal;
    text-decoration: underline;
}